<a href="https://colab.research.google.com/github/zqiaohe/100daysofcode/blob/master/CupIT2020final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
def dateparse (datetime):    
    return pd.Timestamp(datetime)

In [0]:
data = pd.read_csv('/content/drive/My Drive/CL_megafon_Cup IT_2020_final_data (1).csv', sep = ';', parse_dates = ['time_start', 'time_end'], date_parser=dateparse)

In [0]:
data['duration'] = data['time_end'] - data['time_start']
data['min']= data['duration'].dt.seconds/60

In [45]:
data

               time_start            time_end  ...  duration         min
0     2019-08-24 14:23:56 2019-08-24 18:54:47  ...  04:30:51  270.850000
1     2018-06-19 08:56:22 2018-06-19 12:15:26  ...  03:19:04  199.066667
2     2018-08-29 14:00:32 2018-08-29 14:37:51  ...  00:37:19   37.316667
3     2019-12-10 16:01:26 2019-12-10 16:35:22  ...  00:33:56   33.933333
4     2019-12-10 13:39:42 2019-12-10 17:58:22  ...  04:18:40  258.666667
...                   ...                 ...  ...       ...         ...
78218 2018-06-25 11:25:04 2018-06-25 14:39:32  ...  03:14:28  194.466667
78219 2018-04-06 10:07:13 2018-04-06 16:34:40  ...  06:27:27  387.450000
78220 2018-07-13 22:59:34 2018-07-14 00:05:50  ...  01:06:16   66.266667
78221 2018-11-06 00:05:57 2018-11-06 08:50:10  ...  08:44:13  524.216667
78222 2018-10-15 02:24:15 2018-10-15 18:03:48  ...  15:39:33  939.550000

[78223 rows x 6 columns]