<a href="https://colab.research.google.com/github/zqiaohe/100daysofcode/blob/master/NLTKdataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Загрузка датасета

In [1]:
!pip3 install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.22)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.11.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.3.9)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.18.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.6)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)

In [0]:
import os
import pandas as pd

In [0]:
user = 'qiaohe'
key = '6992d820d95bfc00100fdab824b8ccbb'
 
if '.kaggle' not in os.listdir('/root'):
    !mkdir ~/.kaggle
!touch /root/.kaggle/kaggle.json
!chmod 666 /root/.kaggle/kaggle.json
with open('/root/.kaggle/kaggle.json', 'w') as f:
    f.write('{"username":"%s","key":"%s"}' % (user, key))
!chmod 600 /root/.kaggle/kaggle.json

In [5]:
!kaggle competitions download -c changellenge-cupit-2019-posneg

Downloading test_data.csv.zip to /content
  0% 0.00/1.23M [00:00<?, ?B/s]
100% 1.23M/1.23M [00:00<00:00, 81.0MB/s]
Downloading train_data.csv.zip to /content
100% 4.23M/4.23M [00:00<00:00, 25.0MB/s]

Downloading sample_submission.csv to /content
  0% 0.00/51.3k [00:00<?, ?B/s]
100% 51.3k/51.3k [00:00<00:00, 49.3MB/s]

In [6]:
!unzip train_data.csv.zip -d train

Archive:  train_data.csv.zip
  inflating: train/train_data.csv

In [7]:

!unzip test_data.csv.zip -d test

Archive:  test_data.csv.zip
  inflating: test/test_data.csv

In [0]:
train = pd.read_csv('train/train_data.csv', encoding='utf', engine='python', index_col=0)
test = pd.read_csv('test/test_data.csv', encoding='utf', engine='python', index_col=0)

In [12]:
train.head()

,title,text,score
0,Просьба об отмене штрафа КАСКО,Здравствуйте! 10.06.2016г. мною был заключен д...,Позитивный
1,"В целом хорошо, работали по ипотеке.","Брала ипотеку в юникоре, порадовали квалифика...",Негативный
2,Нас всегда выручает банк Уралсиб!,Знакомство с банком началось с ипотеки в 2009 ...,Позитивный
3,Абсолютно неприемлемая ситуация и ее решение,Клиент Совкомбанка с 2017 года. В феврале 2018...,Позитивный
4,Внёс не туда,Пришёл оплачивать кредит и ошибочно внёс деньг...,Позитивный

In [14]:
test.head()

,title,text
0,Благодарность менеджеру по продажам,Хотелось бы выразить огромную благодарность ме...
1,Брал рассрочку в магазине Самсунг,Здравствуйте Брал рассрочку в магазине Самсунг...
2,Тинькофф оказался лучшим,Работаем с ними уже более 2х лет. Основное что...
3,Недавно открыла расчетный счет в Тинькофф Банке,Здравствуйте!Не так давно по рекомендации знак...
4,Волею судеб у меня появилась кредитная карта С...,"Сам работаю в крупном банке и знаю, как сложно..."

#Стемминг данных

In [15]:
import nltk
nltk.download("popular")

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/cmudict.zip.
[nltk_data]    | Downloading package gazetteers to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gazetteers.zip.
[nltk_data]    | Downloading package genesis to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/genesis.zip.
[nltk_data]    | Downloading package gutenberg to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/gutenberg.zip.
[nltk_data]    | Downloading package inaugural to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/inaugural.zip.
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/movie_reviews.zip.
[nltk_data]    | Downloading package names to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/names.zip.
[nltk_data]    | Downloading package shakespeare to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/shakespeare.zip.
[nltk_data]    | Downloading package stopwords to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/stopwords.zip.
[nltk_data]    | Downloading package treebank to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/treebank.zip.
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping corpora/twitter_samples.zip.
[nltk_data]    | Downloading package omw to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/omw.zip.
[nltk_data]    | Downloading package wordnet to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet.zip.
[nltk_data]    | Downloading package wordnet_ic to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/wordnet_ic.zip.
[nltk_data]    | Downloading package words to /root/nltk_data...
[nltk_data]    |   Unzipping corpora/words.zip.
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping chunkers/maxent_ne_chunker.zip.
[nltk_data]    | Downloading package punkt to /root/nltk_data...
[nltk_data]    |   Unzipping tokenizers/punkt.zip.
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /root/nltk_data...
[nltk_data]    |   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [0]:
import re
from string import punctuation
from nltk.stem.snowball import RussianStemmer

In [0]:
stop_words=nltk.corpus.stopwords.words('russian')

In [0]:
stemmer = RussianStemmer(False)

In [0]:
def preprocess_text(text):
    delimiters = ['\n', ' ', ',', '.', '?', '!', ':', '  ']
    tokens = re.split('[' + '|'.join(delimiters) +']', text.lower())
    tokens = [stemmer.stem(token) for token in tokens if token not in stop_words\
              and token != " " \
              and token.strip() not in punctuation]
    text = " ".join(tokens)
    return text

In [0]:
train['title'] = [preprocess_text(v) for v in train['title']]
test['title'] = [preprocess_text(v) for v in test['title']]

In [0]:
train['text'] = [preprocess_text(v) for v in train['text']]
test['text'] = [preprocess_text(v) for v in test['text']]

In [34]:
train.head()

,title,text,score
0,просьб отмен штраф каск,здравств 10 06 2016г мно заключ договор №с0410...,Позитивный
1,цел работа ипотек,брал ипотек юникор порадова квалификац внимате...,Негативный
2,выруча банк уралсиб,знакомств банк нача ипотек 2009 год взял авток...,Позитивный
3,абсолютн неприемлем ситуац решен,клиент совкомбанк 2017 год в феврал 2018 год ...,Позитивный
4,внес туд,пришел оплачива кред ошибочн внес деньг кредит...,Позитивный

In [35]:
test.head()

,title,text
0,благодарн менеджер продаж,хотел выраз огромн благодарн менеджер продаж ф...
1,брал рассрочк магазин самсунг,здравствуйте бра рассрочк магазин самсунг твер...
2,тинькофф оказа лучш,работа ним 2х лет основн рад эт бюрократическ ...
3,недавн откр расчетн счет тинькофф банк,здравств давн рекомендац знаком (тож ип) откр ...
4,вол судеб появ кредитн карт ситибанк аэрофлот ...,работа крупн банк зна сложн организова достойн...

In [0]:
train.to_csv('nltktraindata.csv', index=False)
test.to_csv('nltktestdata.csv', index=False)