# Проверка Mystem

In [7]:
!pip3 install pymystem3

Collecting pymystem3
  Using cached https://files.pythonhosted.org/packages/00/8c/98b43c5822620458704e187a1666616c1e21a846ede8ffda493aabe11207/pymystem3-0.2.0-py3-none-any.whl
Collecting requests (from pymystem3)
  Using cached https://files.pythonhosted.org/packages/7d/e3/20f3d364d6c8e5d2353c72a67778eb189176f08e873c9900e10c0287b84b/requests-2.21.0-py2.py3-none-any.whl
Collecting chardet<3.1.0,>=3.0.2 (from requests->pymystem3)
  Using cached https://files.pythonhosted.org/packages/bc/a9/01ffebfb562e4274b6487b4bb1ddec7ca55ec7510b22e4c51f14098443b8/chardet-3.0.4-py2.py3-none-any.whl
Collecting idna<2.9,>=2.5 (from requests->pymystem3)
  Using cached https://files.pythonhosted.org/packages/14/2c/cd551d81dbe15200be1cf41cd03869a46fe7226e7450af7a6545bfc474c9/idna-2.8-py2.py3-none-any.whl
Collecting urllib3<1.25,>=1.21.1 (from requests->pymystem3)
  Using cached https://files.pythonhosted.org/packages/62/00/ee1d7de624db8ba7090d1226aebefab96a2c71cd5cfa7629d6ad3f61b79e/urllib3-1.24.1-py2.py3-none-any.whl
Collecting certifi>=2017.4.17 (from requests->pymystem3)
  Using cached https://files.pythonhosted.org/packages/60/75/f692a584e85b7eaba0e03827b3d51f45f571c2e793dd731e598828d380aa/certifi-2019.3.9-py2.py3-none-any.whl
Installing collected packages: chardet, idna, urllib3, certifi, requests, pymystem3
Successfully installed certifi-2019.3.9 chardet-3.0.4 idna-2.8 pymystem3-0.2.0 requests-2.21.0 urllib3-1.24.1

In [8]:
import pymystem3

In [13]:
from pymystem3 import Mystem
text = "Красивая мама красиво мыла раму"
m = Mystem()
lemmas = m.lemmatize(text)
print(''.join(lemmas))

красивый мама красиво мыть рама

# Загрузка данных

In [14]:
import numpy as np

In [15]:
import pandas as pd

In [16]:
train = pd.read_csv("/home/alex/anaconda3/train_data.csv")
test = pd.read_csv("/home/alex/anaconda3/test_data.csv")

In [17]:
train.head()

,Unnamed: 0,title,text,score
0,0,Просьба об отмене штрафа КАСКО,Здравствуйте! 10.06.2016г. мною был заключен д...,Позитивный
1,1,"В целом хорошо, работали по ипотеке.","Брала ипотеку в юникоре, порадовали квалифика...",Негативный
2,2,Нас всегда выручает банк Уралсиб!,Знакомство с банком началось с ипотеки в 2009 ...,Позитивный
3,3,Абсолютно неприемлемая ситуация и ее решение,Клиент Совкомбанка с 2017 года. В феврале 2018...,Позитивный
4,4,Внёс не туда,Пришёл оплачивать кредит и ошибочно внёс деньг...,Позитивный

# Предобработка данных

In [18]:
import nltk
nltk.download("stopwords")
#--------#

from nltk.corpus import stopwords
from pymystem3 import Mystem
from string import punctuation

#Create lemmatizer and stopwords list
mystem = Mystem() 
russian_stopwords = stopwords.words("russian")

#Preprocess function
def preprocess_text(text):
    tokens = mystem.lemmatize(text.lower())
    tokens = [token for token in tokens if token not in russian_stopwords\
              and token != " " \
              and token.strip() not in punctuation]
    
    text = " ".join(tokens)
    
    return text

[nltk_data] Downloading package stopwords to /home/alex/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [19]:
#Examples    
preprocess_text("Ну что сказать, я вижу кто-то наступил на грабли, Ты разочаровал меня, ты был натравлен.")

'сказать видеть кто-то наступать грабли разочаровывать натравлять'

In [20]:
%%time
print(preprocess_text("Ну что сказать, я вижу кто-то наступил на грабли, Ты разочаровал меня, ты был натравлен."))

сказать видеть кто-то наступать грабли разочаровывать натравлять
CPU times: user 680 µs, sys: 478 µs, total: 1.16 ms
Wall time: 1.37 ms

In [21]:
%%time
preprocess_text(test['title'][1])

CPU times: user 1.29 ms, sys: 790 µs, total: 2.08 ms
Wall time: 1.7 ms

'брать рассрочка магазин самсунг'

In [23]:
%%time
test['title'] = [preprocess_text(v) for v in test['title']]

CPU times: user 207 ms, sys: 26.7 ms, total: 233 ms
Wall time: 565 ms

In [24]:
test.to_csv('testwithprepprocessedtitle.csv', index=False)

In [25]:
test.head()

,Unnamed: 0,title,text
0,0,благодарность менеджер продажа,Хотелось бы выразить огромную благодарность ме...
1,1,брать рассрочка магазин самсунг,Здравствуйте Брал рассрочку в магазине Самсунг...
2,2,тинькофф оказываться хороший,Работаем с ними уже более 2х лет. Основное что...
3,3,недавно открывать расчетный счет тинькофф банк,Здравствуйте!Не так давно по рекомендации знак...
4,4,воля судьба появляться кредитный карта ситибан...,"Сам работаю в крупном банке и знаю, как сложно..."

In [28]:
test.head()

,Unnamed: 0,title,text
0,0,благодарность менеджер продажа,хотеться выражать огромный благодарность менед...
1,1,брать рассрочка магазин самсунг,здравствовать брать рассрочка магазин самсунг ...
2,2,тинькофф оказываться хороший,работать 2х год основной радовать это бюрократ...
3,3,недавно открывать расчетный счет тинькофф банк,здравствовать давно рекомендация знакомый ипат...
4,4,воля судьба появляться кредитный карта ситибан...,работать крупный банк знать сложно организовыв...

In [27]:
%%time
test['text'] = [preprocess_text(v) for v in test['text']]

CPU times: user 2.67 s, sys: 69.2 ms, total: 2.74 s
Wall time: 17.5 s

In [29]:
train['title'] = [preprocess_text(v) for v in train['title']]

In [30]:
train['text'] = [preprocess_text(v) for v in train['text']]

In [31]:
test.to_csv('test.csv', index=False)

In [32]:
train.to_csv('train.csv', index=False)